@media(max-width: 1400px){
    .slider_item{
        min-height: 100vh;
    }
    .key {
        padding: 0 15px;
    }
    .search_by_kw form {
        width: 85%;
    }
}
@media(max-width: 991px){

.show-mobile.buy-search-stock-btn {
    left: 100px;
    top: 150px;
}
.show-mobile i {
    font-size: 10px;
}
.single_person img {
    height: 200px;
}
.person_details p {
    margin-bottom: 6px;
    font-size: 14px;
}
.person_details {
    height: 200px;
}
.slogan h3 {
    font-size: 40px;
}
.sidebar_title{
    font-size: 14px;
}
.sidebar_title img {
    margin-right: 10px;
    width: 16px;
}
.arrow{
    display: none;
}
.slider_item{
    min-height: 50vh;
}
.search_block{
    left: 40px;
}
.search_by_kw form {
    width: 70%;
}
.search_by_kw button{
    padding: 14px 12px;
}
.key {
    padding: 0 0px;
}
.keyword_search_block .stock_button img {
margin-left: 0;
}
.brand_list ul li {
margin-left: 0%;
}
.post_items{
    margin-bottom: 20px;
}
.signup_section{
    margin-top: 0px !important;
}
.header_mobile_none{
    display: none;
}
   
.header_desktop_none{
        display: block;
}
.search-form form {
    background-color: rgb(255, 240, 240);
    border: 1px solid rgb(184, 184, 184);
    border-radius: 2px;
    padding: 15px 15px;
    margin-top: 20px;
 }
 .search-form form .col-md-2{
    padding: 0px 3px;
 }
 .search-form label {
    font-size: 12px;
}
.search-form input{
    padding: 8px;
}
.btn-submit{
    font-size: 14px;
}
.brand_list{
    padding: 0px;
}
.custom_padding{
    padding: 0 5px;
}
.brand_logo{
    width: 20px;
}
.brand_list ul li a{
    font-size: 14px;
}
.search-form .color-options {
    padding: 4px 10px 2px;
}
.search-form .color-options label {
    width: 12px;
    height: 12px;
}
.filter-row label{
    font-size: 10px;
}
.filter-row button{
    padding: 4px 5px;
    font-size: 10px;
}
.filter-row .col-auto{
    padding: 0 5px;
}
.sortToggle{
    font-size: 10px;
}
.col-lg-2.col-md-4.col-6.p-1 {
     flex: 0 0 20%;
}
.ask-btn {
    position: static;
    transform: translate(0px, 0px);
    width: 200px;
    margin: auto;
}
.showONDesktop {
    display: block;
    bottom: 100px;
    opacity: 1;
}
.download-btn{
    text-align: center !important;
}

.sticky-buttons {
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-52%);
    z-index: 100;
}

.showONDesktop{
    display: none;
}
.filter_button_mobile.about_page{
    display: block;
}
.filter_button_mobile.home_page{
    display: none;
}
.about_page .brand_list ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
}
.about_page .brand_list ul li {
        width: 15%;
        margin-left: 0;
        margin-bottom: 5px;
        margin: 1px;
    }
    .about_page .brand_list ul li a {
        display: block;
        text-align: center !important;
        font-size: 12px;
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 4px;
        background: #F3F3F3;
        padding: 10px 0px;
        margin: 4px;
        width: 100%;
    }
   .about_page .brand_list ul li a .brand_logo {
        margin: auto;
        margin-bottom: 5px;
    }

.about_page #wrap_search_by_car_card{
    display: block;
}
/* .about_page.home_page #wrap_search_by_car_card{
    display: none;
} */
    .steps-btn .btn-steps .steps-text {
        border-radius: 2px;
    }
    .menu-img-1{
        position: relative;
    }
    .menu-img-2 {
        position: relative;
    }
    .show-mobile {
        display: block;
    }
    .buy-search-menu-stock-btn {
        position: absolute;
        top: 50%;
        left: 12%;
        padding: 3px 0px;
        border: 2px solid #E7E7E7;
        width: auto;
        display: flex;
    }
        .buy-search-menu-stock-btn h4 {
        margin-bottom: 0;
        font-size: 6px;
        padding: 0 2px;
        font-weight: 700;
    }
    .menu-img-3 {
        width: 55%;
        margin: auto;
    }
    .steps-btn .btn-steps {
        padding: 8px 15px 2px 25px;
    }
}


@media(max-width: 890px){
    .slider_item{
        min-height: 60vh;
    }
}
@media(max-width: 600px){
    .breadcrumbs{
    display: block;
}
    .filter_button_mobile.home_page{
    display: block;
}
    .inner-intro {
    height: 250px;
    display: block;
}
.controls {
    margin: 20px 0;
}
.intro-title{
     height: 250px;
}
    .controls button {
    font-size: 14px;
}
    .steps-btn .btn-steps .steps-title {
        font-size: 25px;
        line-height: 18px;
    }
    .btn-steps.col-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }
    .steps-btn .btn-steps .steps-title {
        font-size: 31px;
        padding-top: 3px;
    }
    .img-div1 img {
    width: 100%;
}
    .how-to-buy {
        font-size: 50px;
        margin-bottom: 25px;
    }
    .steps-btn .btn-steps {
        height: 200px;
    }
    .show-mobile.buy-search-stock-btn {
    left: 90px;
    top: 130px;
}
.show-mobile h4 {
    font-size: 14px;
}



 .about_page .brand_list ul li {
        width: 23%;
        margin-left: 0;
        margin-bottom: 5px;
        margin: 1px;
    }
    .person_details{
        height: fit-content;
    }

    .slogan h2{
        width: 100%;
        font-size: 40px;
        line-height: 130%;
        padding: 0;
    }
.memorable_gallery h2 {
    font-size: 40px;
}
.contact_row h6 {
    font-size: 40px;
}
    .slogan h3 {
    font-size: 24px;
    line-height: 130%;
}
.slogan_block p {
    font-size: 20px;
}
.banking_details h2 {
    font-size: 40px;
    color: #db2d2e;
    margin-bottom: 20px;
}
    .about-details h2 {
    font-size: 32px;
    line-height: 150%;
    margin: 20px 0;
}
.about-details h3{
    margin-top: 15px;
}
.why_choose h2 {
    font-size: 40px;
   line-height: 130%;
}
.padd{
    padding: 0;
}
.team h2{
    font-size: 40px;
    line-height: 130%;
}
    .search-form .color-options {
        padding: 11px 10px 4px;
    }
    .search-form .color-options label {
        width: 17px;
        height: 17px;
    }
    .dbl_select{
        width: 70% !important;
    }
    .cars_info_box ul{
        flex-wrap: wrap;
    }
    .modal-dialog{
        width: 90%;
        margin: 80px auto 50px;
    }
    .asking_price .modal-body{
        padding: 14px 0;
    }
    .subscribe_checkbox p {
    font-size: 12px;
    }
    .car_information {
        margin: 0 10px 10px;
    }
    .asking_price .alert-info{
        padding: 10px;
    }
    .asking_price .alert-info ul p {
    font-size: 12px;
}
    .car_query_form {
    padding: 20px 10px;
    margin: 0 10px;
    }
    .car_query_form label{
        font-size: 12px;
    }
    .car_query_form input, .car_query_form select{
        font-size: 12px;
    }
    .filter_button_mobile .row .col-4{
        padding: 5px;
    }
    .fw-bold{
        margin-right: 0;
    }
    .search-form h2 {
    font-size: 16px;
    }
    .card{
        margin-bottom: 20px;
    }
    .filter-row{
        margin: 0;
    }
    .sortToggle{
        font-size: 10px !important;
    }
    .desktop_filter_options{
        display: none;
    }
    .filter_button_mobile{
        display: block;
    }
    .desktop_brand_list{
        display: none;
    }

.quick_list h5, .social_icon h5 {
    margin-bottom: 5px;
    margin-top: 15px;
}
    
.hero_section{
    background-image: url(../img/Mobile-3.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 105vh;
}
.search_block{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    top: 200px;
}
.navbar-brand{
    width: 30%;
}
.right_nav_items img{
    width: 80px;
}
.currency p, .currency select{
    font-size: 10px;
}
.currency {
    padding: 0px 4px;
}
.mobile_none{
    display: none;
}
.desktop_none{
    display: block;
}
.desktop_none .search_by_kw {
    display: flex;
    padding: 4px;
    margin-bottom: 10px;
}
.key {
    padding-left: 5;
}
.search_by_kw button {
    padding: 8px 10px;
    font-size: 14px;
}
.search_by_kw input {
    background-color: #fff;
    color: rgba(143, 139, 139, 1);
    padding: 5px 10px;
}
.search_by_kw form {
    width: 65%;
}
.keyword_search_block .stock_button {
    padding: 12px 0;
    font-size: 14px;
}
.keyword_search_block .bid_cars {
    padding: 4px 0;
    justify-content: start;
}
.bid_cars P {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.bid_cars P span{
    display: none;
}
.bid_cars img{
    margin-right: 4px;
}
.keyword_search_block .stock_button img {
    width: 24px;
}
.keyword_search_block .bid_cars img {
    margin-right: 6px !important;
    width: 35px !important;
    margin-left: 17px !important;
}

.brand_list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brand_list ul li{
    width: 23%;
    margin-left: 0;
    margin-bottom: 5px;
    margin: 1px;
}
.brand_list ul li a{
    display: block;
    text-align: center !important;
    font-size: 12px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 4px;
    background: #F3F3F3;
    padding: 10px 0px;
    margin: 4px;
    width: 100%;
}
.brand_list ul li a .brand_logo {
   margin: auto;
   margin-bottom: 5px;
}
.items_list ul li a {
    align-items: flex-start;
}
/* .items_list ul li a img {
    margin-top: 4px;
} */
.items_list ul li a {
    font-size: 9px;
}
.post_items {
    margin-bottom: 16px;
}
.signup_section img{
    width: auto !important;
}
.show_all_btn{
    display: block;
}
.ad_carousel{
    margin-top: 30px;
}
.mobile_nav .navbar-nav{
    margin-bottom: 0px !important;
}
.price_button {
    margin-top: 8px;
}
.price_button p {
    font-size: 11px;
}
.cars_info_box h3 {
    font-size: 14px;
}
.cars_info_box p {
    font-size: 9px;
}
.cars_info_box ul li .others_info {
    font-size: 10px;
}
.cars_info_box ul li p {
    font-size: 10px;
}
.cars_info_box ul li {
    margin-right: 10px;
}
.price_button {
    margin-top: 8px;
}
.price_button p {
    font-size: 11px;
}
.price_button button {
    font-size: 12px;
    padding: 7px 0px;
}
.cars_info_box{
    padding: 0;
}
.filter_button_mobile{
    display: block;
}
}
@media(max-width: 430px){
.hero_section {
    min-height:95vh;
}
}
    
@media(max-width: 400px){
    .hero_section {
    min-height: 105vh;
}
    .navbar-brand{
        margin-right: 0;
    }
    .top_bar ul li {
    margin-right: 15px;
    font-size: 12px;
}

}
@media(max-width: 375px){
    
    .cars_info_box ul {
    flex-wrap: wrap;
    }
    .navbar-brand{
        margin-right: 0;
    }
    .button.navbar-toggler{
        margin-left: 5px;
    }
    .menu {
	position: relative;
	display:  inline-block;
	width: 20px !important;
	height: 20px !important;
	margin: 5px;
}
.items_list ul li {
    width: 48%;  
    margin-bottom: 8px;
}
}
@media(max-width: 360px){
.menu span, .menu span:before, .menu span:after {
    width: 20px;
    height: 2px;
}
.menu{
    margin: 0px !important;
}
.price_button button {
    font-size: 10px;
    width: 55%;
}
.price_button p {
    font-size: 9px;
}
}