*{
    margin: 0;
    padding: 0;;
}
body{
    font-family: 'Source Serif Pro';
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
     text-decoration: none;
}
header{

}
.top_bar{
background-color: rgba(203, 10, 7, 1);
padding: 8px;
}
.top_bar ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.top_bar ul li{
    color: #fff;
    margin-right: 26px;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}
.top_bar ul li img{
    margin-right: 8px;
}
.main_bar{
    border: 1px solid rgba(219, 219, 219, 1);
}
.right_nav_items{

}
.right_nav_items ul{
    display: flex;
    justify-content: end;
    list-style: none;
}
.right_nav_items ul li{
    margin-left: 10px;
}
.right_nav_items ul li a{
    
}
.right_nav_items ul li a img{
    
}
.currency{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 7px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 3px;
}
.currency p{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    margin-right: 8px;
}
.currency select{
    border: none;
    color: rgba(203, 10, 7, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 100%
}
header .nav-item{
    margin-right: 30px;
}
header .nav-link{
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    position: relative;
    padding: 0 !important;
}
header .nav-link:hover{
    color: rgba(203, 10, 7, 1);
}
header .nav-link::after{
    content: '';
    position: absolute;
    bottom: -24px;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: rgba(203, 10, 7, 1);
    z-index: 1
}
header .nav-link:hover::after{
    width: 100%;
    transition: all .4s ease-in-out;
}
.slider_item{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
}
.carousel_block  .owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.hero_section{
    position: relative;
}
.carousel_block .owl-dot span{
    display: block;
    height: 7px;
    width: 19px;
    background-color: rgba(156, 156, 156, 1);
    margin: 4px;
}
.carousel_block .owl-dot.active span{
    display: block;
    background-color: rgba(188, 13, 26, 1);
    height: 11px;
    width: 30px;
}

.search_block{
    background-color: rgba(255, 240, 240, 1);
    padding: 20px 28px;
     max-width: 380px;
     position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9; 
    border: 1px solid rgba(184, 184, 184, 1);
}
.search_block h2{
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    color: rgba(203, 10, 7, 1);
    text-align: center;
    margin-bottom: 16px;
}
.search_block form input, .search_block form select{
    margin-bottom: 10px;
    border: 1px solid rgba(190, 190, 190, 1);
}
.search_block form input:focus{
    box-shadow: none;
    border-color: rgba(190, 190, 190, 1);
}
.search_block form label{
    margin-bottom: 5px;
}
.search_block form input[type="submit"]{
    background-color: rgba(203, 10, 7, 1);
    width: 100%;
    color: #fff;
    margin-top: 7px;
}
.color_box{
    background-color: #fff;
    border: 1px solid rgba(190, 190, 190, 1);
    border-radius: 4px;
    
}

/* color swatch  */
.color-options {
  display: flex;
  /* gap: 5px; */
  padding: 10px 10px 7px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: fit-content;
  background: #fff;
  width: 100%;
  justify-content: space-between;
}

.color-option {
  position: relative;
}

.color-option input[type="radio"] {
  display: none;

}

.color-option label {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;
  margin-bottom: 0 !important;
}

.color-option input[type="radio"]:checked + label {
  border: 2px solid #333;
}

.color-option input[type="radio"]:checked + label::after {
  content: "✓";
  color: white;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 3px;
  left: 5px;
}

label[data-color="purple"] { background-color: #6e456b; }
label[data-color="teal"]   { background-color: #004d4a; }
label[data-color="red"]    { background-color: #f51c2b; }
label[data-color="gray"]   { background-color: #999999; }
label[data-color="light"]  { background-color: #eeeeee; }
label[data-color="black"]  { background-color: #000000; }

.arrow{
    position: absolute;
    left: 600px;
    bottom: 150px;
    z-index: 999;
}

.keyword_search_block{
    background-color: rgba(217, 217, 217, 1);
    padding: 30px 0;
}
.keyword_search_block .stock_button{
    background-image: url(../img/stock_search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #fff;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
}
.keyword_search_block .stock_button{
    padding: 26px 0;
}
.keyword_search_block .bid_cars{
    padding: 18px 0;
}
.keyword_search_block .stock_button img{
    margin-right: 10px;
    margin-left: 50px;
}
.keyword_search_block .bid_cars img{
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 40px !important;
}
.bid_cars{
    background-image: url(../img/bid\ cars.png) !important;
}
.bid_cars P{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.bid_cars P span{
    font-size: 8px;
    display: block;
    line-height: 136%;
}

.search_by_kw{
    background-color: rgba(203, 10, 7, 1);
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.key{
    color: #fff;
    max-width: fit-content;
    text-align: center;
    padding: 0 20px;
}
.search_by_kw p{
    text-align: center;
}
.search_by_kw form{
   width: 88%;
   margin-left: auto;
   position: relative;
}
.search_by_kw input{
    background-color: #fff;
    color: rgba(143, 139, 139, 1);
   padding: 16px 20px;
}
.search_by_kw input::placeholder{
    color: rgba(143, 139, 139, 1);
}
.search_by_kw input:focus{
    box-shadow: none;
    outline: none;
    border: rgba(203, 10, 7, 1)
}
.search_by_kw button{
    font-size: 21px;
    padding: 14px 24px;
    color: #fff;
    background-color: rgba(203, 10, 7, 1);
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}
.main_content{
    padding: 20px 0;
}
.brand_list{
    border-right: 1px solid rgba(240, 240, 240, 1);
}
.brand_list ul{
    list-style: none;
    text-align: center;
}
.brand_list ul li{
    margin-bottom: 10px;
    width: fit-content;
    margin-left: 30%;
}
.brand_list ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 14px;
    line-height: 100%;
    cursor: pointer !important;
    width: fit-content;
    margin: auto;
}
.brand_list ul li a .brand_logo{
    width: 30px;
    margin-right: 10px;
}

.cars_list_title{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 24px;
}
.cars_list_title h2{
    font-size: 22px;
    font-weight: 600;
    line-height: 100%;
    color: rgba(203, 10, 7, 1);
    margin-left: 10px;
}

.cars_card{

}
.single_car_card{
    border: 1px solid rgba(217, 217, 217, 1);
    padding: 4px;
   
}
.single_car_card img{
    margin-bottom: 10px;
}
.single_car_card a{
    text-decoration: none;
}
.single_car_card h3{
    font-size: 14px;
    line-height: 100%;
    font-weight: 600;
    color: #000;
}
.single_car_card h3 span{
    color: rgba(203, 10, 7, 1);
    
}
.single_car_card .year{
    font-size: 12px;
}
.single_car_card .model{
    font-size: 10px;
}
.single_car_card button{
    background-color: rgba(203, 10, 7, 1);
    padding: 4px;
    width: 100%;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    border: none;
    margin-top: 5px;
}
.popular_request{
    background-color: rgba(255, 243, 243, 1);
    padding: 24px;
    margin-top: 30px;
}
.items_list{

}
.items_list ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.items_list ul li{
    width: 32%;
    margin-bottom: 12px;
}
.items_list ul li a{
    display: flex;
    align-items: center;
    color: rgba(0, 123, 255, 1);
    font-size: 14px;
    font-weight: 600;
}
.items_list ul li a img{
    margin-right: 4px;
}

.popular_car_model{
    background-color: rgba(245, 245, 245, 1);
}

.popular_car_model p{
   text-align: center;
   font-size: 14px;
   color: rgba(66, 66, 66, 1);
   margin-bottom: 20px;
   font-weight: 600;
}
.popular_car_model .cars_list_title{
    margin-bottom: 10px;
}

.post_items{
    border: 1px solid rgba(203, 10, 7, 1);
}
.post_items img{
   padding: 5px;
}
.post_items h3{
    margin: 10px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}
.post_items button{
    color: #fff;
    background-color: rgba(203, 10, 7, 1);
    width: 100%;
    padding: 4px 0;
    border: none;
}
button:hover{
    background-color: #000;
}
.ad_image{
    margin-bottom: 16px;
}
.signup_section {
    background: linear-gradient(270deg, rgb(232, 44, 45), rgb(232, 44, 45), rgb(203, 10, 7), rgb(203, 10, 7));
    padding: 30px 0px;
    clip-path: polygon(100% 1%, 100% 92%, 0px 99%, 0px 9%);
    margin-top: 40px;
}
.signup_section label {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    width: 100%;
}
.signup_section form {
    display: flex
;
}
.signup_section input[type="email"] {
    padding: 15px 5px 10px 10px;
    margin-right: 5px;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 4px;
    width: 70%;
}
.signup_section input[type="submit"] {
    background: rgb(194, 10, 7);
    border: 1px solid rgb(186, 2, 2);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease-in-out 0s;
    padding: 5px 15px;
    box-shadow: rgb(186, 2, 2) 3px 3px 5px;
    font-weight: 700;
    font-size: 18px;
    width: 30%;
}

footer{
    background-color: rgb(243, 244, 244);
    padding: 50px 0px 0px;
    margin-top: -20px;
}
footer p {
    font-size: 16px;
    color: rgb(33, 37, 41);
    margin: 5px 0px;
}
footer .first {
    font-size: 14px !important;
}
.desktop_hide {
    display: none;
}
footer a {
    color: rgb(0, 0, 0);
    padding-left: 5px;
}
.quick_list h5, .social_icon h5 {
    color: rgb(203, 10, 7);
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
}
.quick_list ul {
    list-style: none;
}

.quick_list ul li {
}

.quick_list ul li a {
    color: rgb(0, 0, 0);
    font-size: 14px;
    padding-left: 10px;
    position: relative;
}

.quick_list ul li a::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(-50%);
    height: 2px;
    width: 2px;
    background-color: rgb(0, 0, 0);
}

footer a {
    color: rgb(0, 0, 0);
    padding-left: 5px;
}

.social_icon ul {
    display: flex;
    list-style: none;
}

.social_icon ul li {
    margin-right: 5px;
}

.social_icon ul li a {
    font-size: 15px;
    color: rgb(203, 10, 7) !important;
}
.recent_post{
    background-color: #fff;
}
.total{
    margin-top: 15px;
    border-top: 1px solid rgba(210, 210, 210, 1);
    padding-top: 15px;
}
.total p{
    text-align: center;
    font-size: 18px;
    line-height: 100%;  
    font-weight: 600;
}
.total p span{
    color: rgba(203, 10, 7, 1);
}

.profil_edit{
   
}
.profil_edit li{

}
.profil_edit li a{
    
}
.profil_edit li a i{
    font-size: 12px;
    margin-right: 4px;
}
.mobile_nav .navbar-nav{
    border-bottom: 1px solid rgba(186, 186, 186, 1);
}
.mobile_nav ul{
   padding: 10px 0;
}
.mobile_nav ul li.nav-item{
    display: flex;
    margin-bottom: 5px;
}
.mobile_nav ul li.nav-item i{
    margin-right: 10px;
    font-size: 8px;
}
.mobile_nav ul li a{
    color: rgba(69, 69, 69, 1) !important;
    font-weight: 400;
    font-size: 12px;
}
.mobile_nav .navbar-nav li a i{
    color: rgba(157, 157, 157, 1);
}
.mobile_nav li a:hover{
  color:  rgba(203, 10, 7, 1) !important;
}
.mobile_nav .nav-link:hover::after{
    display: none;
}

/* toggle css animation  */

/* btn */
.menu {
	position: relative;
	display:  inline-block;
	width: 25px;
	height: 25px;
	margin: 5px;
}
.menu span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
.menu span:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu span, .menu span:before, .menu span:after {
	width: 25px;
	height: 2px;
	background-color: rgba(203, 10, 7, 1);
	display: block;
}
.menu span:before {
	margin-top: -8px;
}
.menu span:after {
	margin-top: 8px;
}
/* --- btn --- */
/* example 5 */
.example5 span {
	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}


.active span {
    /* barva prostredního */
	background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}


.example5 span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.active span:before {
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.example5 span:after {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.active span:after {
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
button.navbar-toggler{
    background-color: #fff;
    padding: 0;
    border: none;
    margin-left: 10px;
}
button.navbar-toggler:focus{
   box-shadow: none;
}
.desktop_none{
    display: none;
}
.show_all_btn{
    text-align: center;
    margin-top: 12px;
    display: none;
}
.show_all_btn button{
    border: 1px solid rgba(203, 10, 7, 1);
    color:black;
    font-size: 10px;
    padding: 4px 24px;
    border-radius: 3px;
    background-color: #fff;
}
.show_all_btn:hover button:hover{
    background-color: rgba(203, 10, 7, 1);
    color: #fff;
}

.ad_carousel .owl-nav .owl-prev, .ad_carousel .owl-nav .owl-next{
    color: rgba(203, 10, 7, 1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.ad_carousel .owl-nav span{
     color: rgba(203, 10, 7, 1);
     font-size: 40px;
}
.ad_carousel .owl-nav .owl-prev{
    left: 20px;
}
.ad_carousel .owl-nav .owl-next{
    right: 20px;
}

.mobile_nav .dropdown-menu[data-bs-popper] {
     right: 60px !important;
     left: unset;
}
.mobile_nav .dropdown-menu.show{
    width: fit-content;
    display: block;
    top: 60px;
    right: 20px !important;
    padding: 15px;
    border-radius: 2px;
    border:  1px solid rgba(184, 184, 184, 1);
    background-color: rgba(255, 240, 240, 1);
}
.mobile_nav .dropdown-toggle::after{
    display: none !important;
}
.copyright{
    background-color:rgba(203, 10, 7, 1) ;
    padding: 4px 0;
    margin-top: 40px;
}
.copyright p{
    color: #fff;
    font-size: 14px;
    text-align: center;
}